<style media="screen">
  body {
    font-family: monospace;
  }
  hr.short {
    width: 500px;
    margin-left: 0;
  }
</style>

<h2>Summary Report [<%=@type%>]</h2>

<h3>Date range: <%= @range.begin.to_s %> --> <%= @range.end.to_s %></h3>
<table>
  <thead>
    <tr>
      <td>Unit</td>
      <td>Total Count</td>
      <td>Total Captured</td>
      <td>% Captured</td>
      <td>Total $</td>
      <td>Captured $</td>
      <td>% $</td>
    </tr>
  </thead>
  <tbody>
<% total_captured_count = total_all_count = total_captured_amount = total_all_amount = 0 %>
<% @records.each do |record| %>
  <% total_captured_count += record.captured_count.to_i %>
  <% total_all_count += record.all_count.to_i %>
  <% total_captured_amount += record.captured_amount.to_f %>
  <% total_all_amount += record.all_amount.to_f %>
    <tr>
      <td style="padding-right: 5px"><%= record.name %></td>
      <td><%= record.all_count %></td>
      <td><%= record.captured_count %></td>
      <td><%= number_to_percentage((record.captured_count.to_f / record.all_count.to_f)*100, precision: 2) %></td>
      <td><%= number_to_currency(record.all_amount) %></td>
      <td><%= number_to_currency(record.captured_amount) %></td>
      <td><%= number_to_percentage((record.captured_amount.to_f / record.all_amount.to_f)*100, precision: 2) %></td>
    </tr>
<% end %>
  <tr>
    <td style="padding-right: 5px">Total</td>
    <td><%= total_all_count %></td>
    <td><%= total_captured_count %></td>
    <td><%= number_to_percentage((total_captured_count.to_f / total_all_count.to_f)*100, precision: 2) %></td>
    <td><%= number_to_currency(total_all_amount) %></td>
    <td><%= number_to_currency(total_captured_amount) %></td>
    <td><%= number_to_percentage((total_captured_amount.to_f / total_all_amount.to_f)*100, precision: 2) %></td>
  </tr>
  </tbody>
</table>
