<p id="notice"><%= notice %></p>

<h1>Dashboard</h1>

<h2>Declined Credit Card Batches</h2>
<table>
  <thead>
    <tr>
      <th style="text-align: left;">Status</th>
      <th>Count</th>
    </tr>
  </thead>

  <tbody>
    <% @batch_statuses.each do |status| %>
      <% count = @total_by_batches[status.to_s] || 0 %>
      <tr>
        <td style="padding-right: 20px;"><%= link_to status,
          dashboard_path("batch", {:status=>status}) %></td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h2>Declined Credit Card Transactions</h2>
<table>
  <thead>
    <tr>
      <th style="text-align: left;">Status</th>
      <th>Count</th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <% count = @total_by_transactions[status.to_s] || 0 %>
      <tr>
        <td style="padding-right: 20px;">
          <%= link_to status, dashboard_path("transaction", {:status=>status}) %></td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Breakdown by site</h3>
<% @market_pubs.each do |mp, status_counts| %>
<table>
  <thead>
    <tr>
      <th colspan="2"><%= mp.gci_unit %> - <%= mp.pub_code %></th>
    </tr>
    <tr>
      <th style="text-align: left;">Status</th>
      <th>Count</th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <% count = status_counts[status.to_s] || 0 %>
      <tr>
        <td style="padding-right: 20px;"><%= link_to status,
          dashboard_path("transaction", {status:status, gci_unit:mp.gci_unit, pub_code:mp.pub_code}) %></td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>
