
<h4>Dashboard</h4>
<br>

<h3 id="batches">Declined Credit Card Batches</h3>
<table>
  <thead>
    <tr>
      <th style="text-align: left;">Status</th>
      <th>Count</th>
    </tr>
  </thead>

  <tbody>
    <% @batch_statuses.each do |status| %>
      <% count = @total_by_batches[status.to_s] || 0 %>
      <tr>
        <td style="padding-right: 20px;"><%= link_to status,
          dashboard_path("batch", {:status=>status}) %></td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<h3 id="transactions">Declined Credit Card Transactions</h3>
<table>
  <thead>
    <tr>
      <th style="text-align: left;">Status</th>
      <th>Count</th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |status| %>
      <% count = @total_by_transactions[status.to_s] || 0 %>
      <tr>
        <td style="padding-right: 20px;">
          <%= link_to status, dashboard_path("transaction", {:status=>status}) %></td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<h3 id="market_pubs">Breakdown by site</h3>
<hr style="border: 0px; border-bottom: 1px solid #d0d0d0;">
<ul>
  <% @market_pubs.each do |mp| %>
    <li style="padding: 15px 5px"><%= link_to mp, dashboards_market_publication_path(mp.to_s) %></li>
  <% end %>
</ul>
